
header{
    background:LightSkyBlue;
    text-align: center;
    padding: 20px;
    width: 100%;
  }  

footer {
    background: PaleGreen;
    width: 100%;  
    text-align: center;
    padding: 10px;
    clear: both;
}

article{
    background:PaleTurquoise;
    width: 70%;
    float: left;
    padding: 20px;
}